<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
        <p>
        <h1>Hello World!</h1>
        <h2>Hello World! from HOME PAGE /home </h2>
        <h3>
            {{ content }}

        </h3>

        {% for x in range(5) %}
            {% if x % 2 == 0 %}
                   <h4> {{ x }} </h4>
            {% endif %}
        {% endfor %}

        {% for x in content %}
        <h4> {{ x }} </h4>
        {% endfor %}




</body>
</html>